* {
    margin: 0;
    padding: 0;
  }
  
  body {
    /*You can use any kind of background here.*/
    background: transparent;
  }
  
  canvas {
    display: block;
    position: relative;
    z-index: 1;
    pointer-events: none;
  }
  
  #content {
    text-align: center;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 45%;
    margin-left: -200px;
    margin-top: -100px;
    color: silver;
    font-family: verdana;
    font-size: 45px;
    font-weight: bold;
  }
  
  .buttonContainer {
    display: none;
  }
  
  button {
    padding: 5px 10px;
    font-size: 20px;
  }
  