:root {
    --move: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(-225deg, white 0%, #f7bd96 48%, #d9d2e9 100%);
  }
  
  .progress {
    position: relative;
    width: 100%;
    max-width: 480px;
    background: none;
    border: 0;
    height: auto;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }
  
    progress {
      position: relative;
      display: block;
      height: 20px;
      width: 100%;
      border: 0;
      background-color: transparent;
      -webkit-appearance: none;
    }
  
    ::-moz-progress-bar {
      background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  
    ::-webkit-progress-bar {
      background-color: transparent;
    }
  
    ::-webkit-progress-value {
      background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    
    .animal {
      position: absolute;
      display: block;
      top: -1.8rem;
      left: calc(var(--move) - 2.3rem);
      transform: scaleX(-1);
      font-size: 4rem;
      z-index: 1;
    }
  
  main {
    position: relative;
    max-width: 480px;
    max-height: 480px;
    padding: 20px 10px 20px 20px;
    overflow-y: scroll;
    background: #fff;
    border-radius: 6px;
  }

  main::-webkit-scrollbar {
    display: none;
  }

    p {
      margin: 0 0 1rem;
    }
  
  h1 {
    color: black;
    margin: 0;
  }

    pre {
        background-color: rgba(#000,.15);
        padding: 0.3rem;
        border-radius: 6px;
    }
  
  .links {
    color: #fff;
    margin: 1rem auto;
  }

    a {
      display: inline-block;
      color: #fff;
      font-size: 0.8rem;
    }

button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color:white;
    border-style: solid;
    border-radius: 7px;
    font-size: 12pt;
    border-color:rgba(0, 0, 0, 0.87);
    border-width: 1.4px;
    font-family:monospace;
    }
  